# Application Settings
PORT=3000

# Database Connection (PostgreSQL)
POSTGRES_URL="Host=dpg-d69uinfpm1nc739o2fv0-a.oregon-postgres.render.com;Port=5432;Database=skillmind_db_u77n;Username=skillmind_db_u77n_user;Password=UCyW8CCIfNfPmO4pUL5RsVcfPszxkPrq;SSL Mode=Require;Trust Server Certificate=true;"

# JWT Settings
JWT_SECRET_KEY="DX8/AVsNM7pP9qdZkt1/b718u5rZ9w0w2IaIBF0hS28="
JWT_ISSUER="SkillMind"
JWT_AUDIENCE="SkillMind"
JWT_DURATION_MINUTES=60

# Cloudinary
CLOUDINARY_CLOUD_NAME=dgsfeis7x
CLOUDINARY_API_KEY=665547167419172
CLOUDINARY_API_SECRET=d765WE7ccfSzZIcShOGOcFkR2DA

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Kafka
KAFKA_BROKER=kafka:29092

# Email Settings
EMAILER_HOST=smtp.example.com
EMAILER_PORT=587
EMAILER_USER=therealsocialhubdotnet@gmail.com
EMAILER_PASS="wnke qfgq cckt mbsm"